#profilContainer{
    position: absolute;
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    height: -webkit-fill-available;
    width: 90%;
    background-image: linear-gradient(to bottom right, #23262f, #26375d);
    border-radius: 15px;
}

#profilInhalt{
    position: absolute;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 400px;

}

#profilName{
    display: inline-block;
    color: #f1b951;
    width: 500px;
    font-size: 300%;
    font-family: "Lucida Console";
}

#profilInhalt button{
    display: block;
    position: absolute;
    margin-left:100%;
    color: white;

}

#profilInhalt button:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: #8a8a8a;
    cursor:pointer;
}

#profilProjektBeschreibung, #profilPersoBeschreibung, rolleProfil{
    color: #e1dbdb;
    font-family: Roboto;
    font-size: 110%;
    overflow-wrap: break-word;
    text-align: justify;
    hyphens: auto;
}

#rolleProfil p{
    width:100%;
    margin-right:2%;
    border-bottom: 2px solid #58749d;
    color: #26335d;
}

#profilEditMenü{
    display: none;
    position: fixed;
    z-index: 1;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.47);
}
#profilEditMenü span:hover{
    cursor: pointer;
    color: grey;
}

#profilForm{
    width: 800px;
    height: 564px;
    background-color: rgb(46, 46, 61);
    padding: 20px;
    color: black;
    border-radius: 15px;
    top: 50dvh;
    left: 50dvw;
    transform: translate(-50%, -50%);
    position: fixed;
}

.profilInput{
    display: block;
    width: 95%;
    height: 90px;
    border: #606060 solid 1px;
    background-color: #283d48;
    color: #afafaf;
    resize: none;
    border-radius: 10px;
    margin-left: 3%;
}

.profilInput:focus{
    background: rgba(217, 220, 222, 0);
}

.labelProfil{
    margin-top: 20px;
    color: white;
    font-family: "Arial";
    font-size: 15px;
    margin-left: 3.5%;
    margin-bottom: 1%;
}

#profilEditBtn{
    position: relative;
    height:35px;
    width:auto;
    margin-top: 20px;
    margin-left: 45%;
    background-color: #4b6294;
    border-radius: 10px;
    color:white;
}

#profilEditBtn:hover{
    cursor: pointer;
    background-color: #26335d;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#profilForm span{
    display: block;
    position: relative;
    margin-left: 98%;

    color:white;
}

.profileText{
    font-size: 150%;
    font-family: "Lucida Console";
    color: #a8a398;
    margin-top: 20px;
    overflow-wrap: break-word;
    text-align: justify;
    hyphens: auto;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {background-color: transparent;}
::-webkit-scrollbar-thumb {
    background-color: #627378;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {background-color: #a8bbbf;}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

/*Todo: Hübsche Fonts raussuchen, Strich zentrieren, margins und Abstände anpassen*/