#profilContainer{
    position: absolute;
    margin: 2% 2% 2% 2%;
    height: -webkit-fill-available;
    width: 96%;
    background-image: linear-gradient(to bottom right, #23262f, #26375d);
    border-radius: 15px;
    /* max-height: fit-content; */
    overflow-y: scroll;
    /* scroll-padding-bottom: 22%; */
}

#profilInhalt{
    position: relative;
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: fit-content;
}

#profilName{
    display: inline-block;
    color: #f1b951;
    width: 500px;
    font-size: calc(2.8dvw + 2.8dvh);
    font-family: "Lucida Console";
}

#profilInhalt button{
    display: block;
    position: absolute;
    margin-left: 100%;
    color: white;
    font-size: calc(1dvw + 1dvh);

}

#profilInhalt button:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: #8a8a8a;
    cursor:pointer;
}

#profilProjektBeschreibung, #profilPersoBeschreibung, rolleProfil{
    color: #e1dbdb;
    font-family: Roboto;
    font-size: calc(1dvw + 1dvh);
    overflow-wrap: break-word;
    text-align: justify;
    hyphens: auto;
}

#rolleProfil p{
    width:100%;
    margin-right:2%;
    border-bottom: 2px solid #58749d;
    color: #26335d;
}

#profilEditMenü{
    display: none;
    position: fixed;
    z-index: 1;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.47);
}
#profilEditMenü span:hover{
    cursor: pointer;
    color: grey;
}

#profilForm{
    width: 800px;
    height: 564px;
    background-color: rgb(46, 46, 61);
    padding: 20px;
    color: black;
    border-radius: 15px;
    top: 50dvh;
    left: 50dvw;
    transform: translate(-50%, -50%);
    position: fixed;
}

.profilInput{
    display: block;
    width: 95%;
    height: 30px;
    border: #606060 solid 1px;
    background-color: #283d48;
    color: #afafaf;
    resize: none;
    border-radius: 10px;
    margin-left: 3%;
}

.profilInput:focus{
    background: rgba(217, 220, 222, 0);
}

.labelProfil{
    margin-top: 20px;
    color: white;
    font-family: "Arial";
    font-size: 15px;
    margin-left: 3.5%;
    margin-bottom: 1%;
}

#profilEditBtn{
    position: relative;
    height:35px;
    width:auto;
    margin-top: 20px;
    margin-left: 45%;
    background-color: #4b6294;
    border-radius: 10px;
    color:white;
}

#profilEditBtn:hover{
    cursor: pointer;
    background-color: #26335d;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#profilForm span{
    display: block;
    position: relative;
    margin-left: 98%;

    color:white;
}

.profileText{
    font-size: calc(1.2dvw + 1.2dvh);
    font-family: "Lucida Console";
    color: #a8a398;
    margin-top: 20px;
    overflow-wrap: break-word;
    /* text-align: justify; */
    hyphens: auto;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {background-color: transparent;}
::-webkit-scrollbar-thumb {
    background-color: #627378;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {background-color: #a8bbbf;}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

.dropdown-check-list {
    display: inline-block;
    /*display: inline-flex;*/
    align-items: center;
    justify-content: center;
    right:0;
    width: 70%;
    height:50px;
    margin-left:3%;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    background-color: #283d48;
    color: #afafaf;
    border: #606060 solid 1px;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: white;
    padding: .75rem 1rem;
    height: 45px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: -108%;
    float: right;
}

.dropdown-check-list ul.items {
    position: relative;
    padding: 2px;
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
    background-color: #23353f;
    width: -webkit-fill-available;
    height: 150px;
    border-radius: 8px;
    margin-left: -100%;
    float: right;
    left: 2px;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible .items {
    display: block;
}

/*Todo: Hübsche Fonts raussuchen, Strich zentrieren, margins und Abstände anpassen*/