/*
  Author: Zana Salih Hama
  Revisited: /
  Funktion: User Story Bearbeitungsmenü
  Grund:
  User-ID/Task-ID: U3.F1
*/

.editMenu {
    display: none;
    position: fixed;
    width: 50%;
    height: auto;
    background-color: rgb(46, 46, 61);
    color: white;
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
    margin-top: -625px;
    margin-left: 25%;
    z-index: 1000;
}

.editMenu::-webkit-scrollbar{
    display: none;
}

#editMenu-saveEditBtn {
    position: page;
    bottom: 30px;
    border-radius: 10px;
    width: 80px;
    height: 20px;
    background-color: white;
    font-size: 14px;
    left: 30px;
    margin-left:43%;
}

#editMenu-saveEditBtn:hover{
    background-color: lightgrey;
    transition: right 0.5s ease;
    cursor:pointer;
}

.inputEdit {
    width: 100%;
    border: 2px solid #6e7f91;
    border-radius: 8px;
    font-size: 12px;
    transition: border-color 0.3s;
    line-height: 1;
    resize: vertical;
    background-color: #283d48;
    color: #afafaf;
}

.inputEdit:focus{
    background: rgba(217, 220, 222, 0);
}

.inputEditPrio {
    border-radius: .5rem;
    box-shadow: white;
    color: #111827;
    padding: .75rem 1rem;
    text-align: center;
    font-size: 12px;
    width: 56px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.inputEditPrio:hover {background-color: rgb(249,250,251);}

.inputEditPrio:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.inputEditPrio:focus-visible {box-shadow: none;}
.inputEditPrio.selected {border: 2px solid #ba55d3;}

#inputDate {font-size: 12px; height: 30px; border-radius: 5px;}
#inputTimeNeeded {font-size: 12px; height: 30px; border-radius: 5px;}

.editMenu-content form label{color: white;}

.closeToggleEdit {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow-y: scroll;
}

.userStoryTaskTrenner{
    display: inline-block;
    margin-top: -5px;
    margin-left: -8px;
}

.selectBtn{
    display: inline-flex;
    color: #ffffff;
    background-color: rgba(64,59,59,0);
    margin-right:20px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
    height: 20px;
}

#outerProjectManagerContainer{
    position: relative;
    display: inline-flex;
    background-color: rgba(13, 71, 115, 0.7);
    color: #ffffff;
    padding: 12px 16px;
    margin-right:20px;
    border: none;
    border-radius: 15px;
    width: 97%;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 16px;
    height: 80vh;
}

#innerProjectManagerContainer{
    display: block;
    position: relative;
    max-height: 550px;
    background-color: rgba(13, 71, 115, 0);
    color: #ffffff;
    padding: 12px 16px;
    margin-right:20px;
    border: none;
    width: 1600px;
    margin-top: 30px;
    margin-left: -150px;
    font-size: 16px;
    height: 95%;
    border-radius: 10px;
}

.addUserStoryBtn{
    display: flex;
    position: absolute;
    margin-bottom: 1000px;
    margin-right: 10px;
    margin-left: 70%;
    width: 160px;
    height: 20px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 1px;
}

.addUserStoryBtn:hover{
    background-color: rgb(0, 0, 0);
}
#roleBtn:hover{
    background-color: #0a0a0a;
}
/*
.userTaskTableBody-editBtn{
    position:relative;
    display: inline-block;
    margin-left: 90%;
    cursor: pointer;
}

.closeUserStoryTaskBtn{
    position: relative;
    display: inline-block;
    position: absolute;
    font-size: 22px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: -0.6%;
}
*/
 .Btn{
     display:inline-block;
     position: relative;
     font-size: 22px;
     cursor: pointer;
     margin-right: 5px;
     right:0;
 }

#userTaskTableHead {
    position: sticky;
    top: 0;
    background-color: #000000;
    cursor: default;
}

.wrapper {
    height: 500px;
    overflow: auto;
    top: -4px;
    cursor: default;
}

.userTaskTable {
    position: relative;
    width: 99%;
    margin-left:5px;
    border-collapse: separate;
    table-layout: auto;
    font-size: 10pt;
    border-spacing: 0 20px;
    cursor: default;

}

.userTaskTable th,
.userTaskTable td {
    padding: 10px;
    text-align: left;
    width: 20%;
    border: 0 solid #adadad;
    border-radius: 10px;
    cursor: default;
}

.userTaskTable th {
    background-color: rgba(255, 255, 255, 0.66);
    color: black;
    white-space: nowrap;
}

.userTaskTable tbody tr {
    transition: background-color 0.3s;
}

.userTaskTable tbody tr:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: black;
    white-space: nowrap;
}

.userTaskTable tbody tr.dragging {
    opacity: 0.5;
}

.userTaskTable tbody tr.drag-over {
    background-color: rgba(255, 255, 255, 0.1);
}

.userTaskTable tbody tr.dragging td {
    cursor: grabbing;
}

.userTaskTableContentSubdate{
    position: relative;
    margin-right: 5px;
    color: #919297;
    font-size: 12px;
    margin-left: 90%;
}

.userTaskTable-ContentStoryBoard{
    display: inline;
    font-size: 12px;
    color: grey;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {background-color: transparent;}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {background-color: #a8bbbf;}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

hr {
    border: 1px solid #bebebe;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#storyBtn {
    background-color: rgba(255, 255, 255, 0.6);
    color: #ffffff;
    padding: 12px 16px;
    margin-right:20px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 15px;
    font-size: 14px;
}

#boardBtn {
    display: inline-flex;
    background-color: rgba(0, 116, 204, 0.6);
    color: #ffffff;
    padding: 12px 16px;
    margin-right:20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 15px;
}

.storyDropdown{
    position: relative;
}

.storydropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 15px;
    width: 100px;
    overflow:auto;
    font-size: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.storydropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-bottom: 1px solid #403b3b;
    display: block;
}

.storydropdown-content a:hover {background-color: #d9dcde;}

.show {display:block;}

.dropdownTask{
    background-color: #283d48;
    color: #afafaf;
    border: 2px solid #6e7f91;
    border-radius: 8px;
    font-size: 12px;

}

.dropdownTask option:hover{
    background-color: #3a5865;
}

.dropdownTask:focus{
    background-color: transparent;
}

#tableHeader{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    background-color: rgba(25,0,255,0.3);
    color: white;
}

.userTaskTableContentSubdate{
    margin-right:5px;
}

#selectUser:hover{
   color: #ba55d3;
}

#userTextDiv{
    display: flex;
}

#userText{
        display:inline-block;
        position: relative;
        font-size: 22px;
        margin-right: 5px;
        flex:50%;

}

.editRoles-content{
    display: inline-block;
    overflow: hidden;
    width:100%;
    height:auto;
}

#editRolesBtn{
    display: inline-block;
    height: auto;
    width: auto;
    border-radius: 15px;
    position: page;
    bottom: 30px;
    font-size: 15px;
    left: 30px;
    margin-left: 90%;
    color: #da9a27;
    margin-bottom: 5px;
}

#editRolesBtn:hover{
    color: #cb7e14;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#visualRole{
    display: block;
    background-color: #0d1525;
    border-radius: 10px;
    max-width:90%;
    width:90%;
    max-height: 25px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}
ul{list-style-type: none;}

#editRoleBtn, #deleteRoleBtn{
    position: relative;
    margin-right: 2%;
}
#deleteRoleBtn:hover{
    color: grey;
}
#editRoleBtn:hover {
    color: grey;
}

#userRights{
    float:right;
    overflow: hidden;
    width:auto;
    margin-left: auto;
    margin-right: 0;
}

.rightsDropdown{
    width:auto;
    height:30px;
    border-radius: 10px;
    right:0;
    background-color: #bbcde0;
    color: black;
    font-family: Roboto;
    border: 1px solid black;

}

.rightsDropdown hover{
    background-color: #b2bbc4;
    height: 30px;
}

.rightsDropdown:focus{background-color: #87939f;}




