#outerContainer-Header{
    position: relative;
    background-color: #211f2b;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
    padding: 10px;
    margin: 2% 2%;
}

.outerContainer-HeaderBtn{
    width: fit-content;
    height: 25px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    background-color: #46425e;
    display: inline;
    padding-right: 20px;
}

.outerContainer-HeaderBtn:hover{
    background-color: #302d41;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #928fc0;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

#outerContainer-HeaderBtnAdd{
    width: 30px;
    height: 25px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    padding: 1px;
    background-color: #67648f;
    display: inline;
}

#outerContainer-HeaderChangeTBName{
    position: relative;
    width: fit-content;
    height: 25px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    background-color: #46425e;
    /* display: inline; */
    /* right: 15px; */
    float: right;
    content: antiquewhite;
    /* justify-content: flex-end; */

}

#outerContainer-HeaderChangeTBName:hover{
    background-color: #38364b;
    cursor: pointer;
}

#outerContainer-HeaderBtnAdd:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #46425e;
    cursor: pointer;
}
/*#38618C*/
#outerContainer{
    background-color: #211f2b;
    border-bottom: 10px;
    position: relative;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.innerContainer{
    background-color: #302d3f;
    height: 75vh;
    width: 20%;
    border-radius: 10px;
    overflow: auto;
}

.wrapper {
    height: 500px;
    overflow: auto;
    top: -4px;
    cursor: default;
}

.columnLabels{
    color: white;
    text-align: center;
}

.columnTable {
    position: relative;
    width: 98%;
    border-collapse: separate;
    table-layout: auto;
    font-size: 10pt;
    border-spacing: 0 20px;
    cursor: default;
}

.columnTableHead {
    position: sticky;
    top: 0;
    background-color: black;
    cursor: default;
}

.columnTableHead tr th{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
    background-color: #295266;
    color: white
}
.columnTable th,
.columnTable td {
    padding: 10px;
    text-align: left;
    width: 20%;
    border: 0 solid #adadad;
    border-radius: 10px;
    cursor: default;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
}

.columnTable th {
    background-color: rgba(255, 255, 255, 0.66);
    color: black;
    white-space: nowrap;
}

.columnTable tbody tr {
    transition: background-color 0.3s;
}

.columnTable tbody tr:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: black;
    white-space: nowrap;
}

hr {
    border: 1px solid #bebebe;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tableContentLabel{
    font-size: 12px;
}

#tableContent-Visualisation{
    display: inline-block;
    float: left;
}

#tableContent-LeftTime{
    display: inline-block;
    float: left;
    color: black;
}

#tableContent-Role{
    display: inline-block;
    float: right;
    color: black;
}

#tableContent-UsId{
    display: inline-block;
    float: right;
    color: black;
}

#tableContent-Beschreibung{
    padding: 10px;
    text-align: left;
    width: 95%;
    max-width: 200px;
    border: 0 solid #adadad;
    border-radius: 10px;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#zoomedTaskCard {
    position: fixed;
    display: none;
    top: calc(80% - 175px);
    left: calc(70% - 250px);
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    background-color: #373347;
    border-radius: 10px;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow-y: scroll;
}

.zoomedTaskCard-content{
    color: #d1d1d1;
    display: inline-flex;
}

#zoomedTaskCard-US{
    display: inline-flex;
    font-size: 12px;
    user-select: none;
}

#zoomedTaskCard-seperator{
    font-size: 12px;
    cursor: context-menu;
    user-select: none;
}

#zoomedTaskCard-taskBoard{
    display: inline-flex;
    font-size: 12px;
    user-select: none;
}

#zoomedTaskCard-description {
    position: relative;
    width: 470px;
    max-height: 200px;
    border-radius: 5px;
    background-color: #d1d1d1;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    overflow-wrap: break-word;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    color: black;
    cursor: pointer;
    scrollbar-color: #084d6a;
}

#zoomedTaskCard-estimatedTime{
    display: inline-flex;
    font-size: 12px;
}

#zoomedTaskCard-priority{
    display: inline-flex;
    float: right;
    font-size: 12px;
}

#zoomedTaskCard-workedTime{
    display: inline-flex;
    font-size: 12px;
}

#zoomedTaskCard-role{
    display: inline-flex;
    float: right;
    font-size: 12px;
    width: fit-content;
}

#zoomedTaskCard-deadline{
    display: inline;
    position: relative;
    font-size: 12px;
    float: right;
    margin-right: 0;
    margin-left: auto;
}
#zoomedTaskCard-nutzerDropdown{
    position: relative;
    display: inline-flex;
    float: left;
    font-size: 12px;
    background-color: transparent;
    width: 100%;
    color: #d1d1d1;
    border-color: transparent;
}

#zoomedTaskCard-nutzerDropdown button{
    font-size: 12px;
    background-color: transparent;
    color: #d1d1d1;
    width: fit-content;
    display: inline;
    border: none;
}
#zoomedTaskCard-nutzerDropdown ul{
    display: none;
    float: left;
    position: fixed;
    background-color: transparent;
    min-width: fit-content;
    height:150px;
    box-shadow: 8px 16px rgba(0,0,0,0.2);
    overflow: scroll;
    margin-top: 2%;
    margin-right: 2%;
    z-index: 1;
}
#zoomedTaskCard-nutzerDropdown ul li{
    overflow: scroll;
    background-color: transparent;
    color: #d1d1d1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#zoomedTaskCard-nutzerDropdownBtn:hover #zoomedTaskCard-nutzerDropdown-content {display: block;}
#zoomedTaskCard-nutzerDropdownBtn:hover #zoomedTaskCard-nutzerDropdownBtn {background-color: #2c2938;}

#zoomedTaskCard-nutzerDropdown:focus{
    outline: none;
    box-shadow: none;
    border-color:transparent;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {background-color: transparent;}
::-webkit-scrollbar-thumb {
    background-color: #627378;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {background-color: #a8bbbf;}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}

.dragging {
    opacity: .25;

}

.placeholder {
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
}

#popupChangeTBName, #popupTaskFertig, #popupCreateTB{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}

#changeTBNameForm, #taskFertigForm, #createTBForm {
    position: relative;
    background-color: #373347;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    border-radius: 12px;
}

#changeTBNameInput, #taskFertigInput, #createTBNameInput {
    position: relative;
    background-color: #d1d1d1;
    width: 80%;
    height:40px;
    color:black;
    font-size: 13px;
    border-radius: 12px;
    margin-top: 15px;
    margin-left: 10%;

}

#changeTBNameBtn, #taskFertigBtn, #createTBNameBtn {
    position: relative;
    height: 30px;
    width: fit-content;
    margin-top: 30px;
    margin-left: 45%;
    background-color: #4b6294;
    color: white;
    border-radius: 12px;
    font-size: 11pt;
    padding: 8px;
}

#changeTBNameBtn:hover, #taskFertigBtn:hover, #createTBNameBtn:hover {
    background-color: #3b4c70;
}

#visEstimateTracker{
    width: 500px;
    max-width: 500px;
    position: relative;
    height: 500px;
    display: none;
    margin: -44% auto;
}

canvas#myChart{
    display: block;
    box-sizing: border-box;
    height: 500px;
    width: 500px;
    z-index: 1001;
    position: fixed;
}

.fa-pencil:before{
    margin-right: 10px;
    z-index: 1000;
}

