<!DOCTYPE HTML>
<html>
    <body>
    <center>
        <form action="/Login" method="post" autocomplete="off">
            <label>Name</label><br />
            <input type="text" id="Username" name="Username"><br />
            <label>Passwort</label><br />
            <input type="password" id="passwort" name="Passwort"><br /><br />
            <input type="submit" value="Submit">
        </form>
        <form action="/Register" method="post" autocomplete="off">
            <label>E-Mail</label><br />
            <input type="text" id="E-Mail1" name="EMail"><br />
            <label>Passwort</label><br />
            <input type="password" id="passwort1" name="Passwort"><br /><br />
            <input type="submit" value="Register">
        </form>
    </center>
    </body>
</html>