<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
<body>
<!--
  Author: Pair Programming: Zana Salih Hama, Paula Krasnovska
  Revisited: /
  Funktion: Login Page
  Grund: /
  User-ID/Task-ID: A3.F1
-->


  <div class="loginBackground">

    <div class="container">
        <label id = "headerLogin">Login</label>
      <form action="\Login" method="post" autocomplete="off">
          <input type="email" required placeholder="E-Mail" class = "Input" name="EMail" style = "margin:30px; margin-left: 60px;">
          <input type="password" required placeholder="Passwort" class = "Input" name="Passwort">
        <p id="forgotP"><a href="/PasswortForgotPage">Passwort vergessen?</a></p>
        <div class = "loginButtons">
          <button id="loginButton" type="submit">Login</button>
        </div>
        <p id = "noAccount"> Kein Account?
          <a href="/RegisterPage">Hier Registrieren! </a></p>
      </form>
    </div>
</div>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
