<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwortanforderung</title>
    <link rel="icon" type="image/ico" href="/img/favicon.ico"/>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div id="primaryContainer" style="height: 250px; margin: -150px 0 0 -200px;"></div>
    <div class="loginBackground">
        <div class="secondaryContainer" style="height: 250px; margin: -150px 0 0 -200px;">
            <label id = "headerLogin">Passwort zurücksetzen</label>
            <form action="/neuesPasswortPage" method="post" autocomplete="off">
                <input id = "emailInput" type="email" required placeholder="Email" class = "Input" name="EMail">
                <button id="passwortResetBtn" onclick="emailPopup()" style="margin-top: 20px;">Anfordern</button>
            </form>
            <p id = "noAccount"> Kein Account? <a href="/RegisterPage">Hier Registrieren!</a></p>
            <div id = "emailGesendetPopup" >Email versendet!</div>
        </div>
    </div>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>