<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projektmanager-Nutzer</title>
  <link rel="stylesheet" href="/css/foundation.css">
  <link rel="stylesheet" href="/css/projectManager.css">
  <link rel="stylesheet" href="/css/setup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--
       Author: Zana Salih Hama
       Revisited: /
       Funktion: Reiter zur Übersicht aller Seiten[-optionen]
       Grund: Übersichtlichkeit
       User-ID/Task-ID: /
    -->
<div class="Reiter">
  <button class="reiterBtn" onmouseover = "hover('reiterBtn')" onmouseleave="hoverLeave('reiterBtn')" id = "pjBtn" style = "border-bottom: 1px solid #ffffff;">Projekt Manager</button>
  <button type="button" th:Sid="${sessionID}" onclick="SwitchToOwnProfile(this.getAttribute('Sid'))" class = "reiterBtn">Profil </button>
  <button class = "reiterBtn" th:Sid="${sessionID}" onclick="SwitchToTaskBoard(this.getAttribute('Sid'))">Task-Board </button>
  <button class = "reiterBtn">Kalender </button>
  <button class = "reiterBtn" style="float: right">Abmelden</button>
</div>

<div id="outerProjectManagerContainer">
  <div id="Hi">
    <button class="selectBtn" id="selectUserstory" th:Sid="${sessionID}" onclick="SwitchToUserStory(this.getAttribute('Sid'))" onmouseover = "hover('selectUserstory')" onmouseleave="hoverLeave('selectUserstory')" title="Wechsel Ansicht zu Userstories">Userstories</button>
    <span class="userStoryTaskTrenner">|</span>
    <button class="selectBtn" id="selectTasks" th:Sid="${sessionID}" onclick="SwitchToTasks(this.getAttribute('Sid'))" onmouseover = "hover('selectTasks')" onmouseleave="hoverLeave('selectTasks')" title="Wechsel Ansicht zu Tasks">Tasks</button>
    <span class="userStoryTaskTrenner">|</span>
    <button class="selectBtn" id="selectUser" style= "border-bottom: 1px solid #ffffff" title = "Wechsel zur Nutzeransicht">Nutzer</button>
    <button class="addUserStoryBtn" title="Erstelle und Bearbeite die Rollen" onclick="toggleRolesEditMenu()"><i class="fa fa-user-o" style = "margin-right: 5px"></i>Rollen bearbeiten</button>
  </div>
  <div id="innerProjectManagerContainer">
    <div class="wrapper">
      <table class="userTaskTable">
        <thead id="userTaskTableHead">
        <tr>
          <th id = "tableHeader">Nutzer</th>
        </tr>
        </thead>
        <tbody id="userTaskTableBody"> <!-- th:role="${user.getRoles()}" ist ne Liste kp wie wir das machen-->
        <tr th:each="user : ${User}" th:Sid="${sessionID}" th:email="${user.getEmail()}" ondblclick="SwitchToOtherProfile( this.getAttribute('sid'), this.getAttribute('email'))">
          <th>
            <div id = userTextDiv>
            <label class = "userText" th:text="${user.getUname()}" >Nutzername</label>
              <div id = "userRights">
                <select class = "rightsDropdown" th:if = "${auth>2}" th:Sid="${sessionID}" onchange="changeAuth(this.getAttribute('Sid'),this.getAttribute('id'), this.getAttribute('usID'))" th:id="@{RoleDropdown:{id}(id=${user.getID()})}"  th:usID="${user.getID()}">
                  <option id="Role:1" value="1" th:selected="${user.getAuthorization() == 1} ? 'selected'">Nutzer</option>
                  <option id="Role:2" value="2" th:selected="${user.getAuthorization() == 2} ? 'selected'" >Manager</option>
                  <option id="Role:3" value="3" th:selected="${user.getAuthorization() == 3} ? 'selected'" >Project Owner</option>
                  <option id="Role:4" value="4" th:selected="${user.getAuthorization() == 4} ? 'selected'" >Admin</option>
                </select>
                <label th:unless = "${auth>2}" th:text="${user.getAuthorizationAsEnum()}"></label>
              </div>
            </div>
          </th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--<div class = "editMenu" style = "display: block">
  <label style="color: white; border-bottom: 1px solid #ffffff; margin-bottom: 20px">Rollen bearbeiten und erstellen</label>
  <span id="closeToggleEdit" class="closeToggleEdit" onclick="toggleRolesEditMenu()">&times;</span>
  <div class="editRoles-content">
    <form class="form"  method="post" id="editForm" autocomplete="off" name="formRoles">
      <button id = "editRolesBtn"><i class="fa fa-plus-circle" style = "font-size: 25px"></i></button>
      <ul>
        <li id = "visualRole" maxlength = "9">Rolle 1 <i class="fa fa-edit"  id = "editRoleBtn" style = "margin-left: 85%"></i><span id = "deleteRoleBtn" contenteditable="false">&times;</span></li>
      </ul>
    </form>
  </div>
</div> -->

<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/what-input.js"></script>
<script src="/js/vendor/foundation.js"></script>
<script src="/js/app.js"></script>
<script src="/js/communication.js"></script>
<script type = "text/javascript" src="/js/setup.js"></script>
<script type = "text/javascript" src="/js/projectManager.js"></script>
</body>