<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projektmanager</title>
    <script type = "text/javascript">
        function ansichtDropdown() {
            document.getElementById("ansichtDropdownContent").classList.toggle("show");
        }
        function filterDropdown() {
            document.getElementById("filterDropdownContent").classList.toggle("show");
        }
        //wenn wir nicht im dropdown klicken
        window.onclick = function(event) {
            if (!event.target.matches('.ansichtBtn')) {
                document.getElementById("ansichtDropdownContent").classList.remove("show");
            }
            if (!event.target.matches('.filterBtn')) {
                document.getElementById("filterDropdownContent").classList.remove("show");
            }
        }
        //damit bottom-border beim hovern lila wird, hab die weiße Border gehardcodet, weswegen das in css nicht funktioniert hatte
        function hover(){
            document.getElementById('pjBtn').style.borderColor = "#ba55d3";
        }
        function hoverLeave() {
            document.getElementById('pjBtn').style.borderColor = "#fff";
        }
        function taskAusklappen(){
            const taskBox = document.querySelector('#taskContainer');
            document.getElementById("taskContainer").classList.toggle("show");
            document.getElementById('ausklappbarBtn').style.content='^';
            if(taskBox.classList.contains('show')){
                taskBox.style.display='block';
                document.getElementById('ausklappbarBtn').style.content='^';
            }
            else{
                taskBox.style.display='none';
            }
        }
        function toggleEditBox() {
            const toggleEditBox = document.querySelector('.toggleEdit');
            toggleEditBox.classList.toggle('visible');

            if (toggleEditBox.classList.contains('visible')) {
                toggleEditBox.style.right = '0';
            } else {
                toggleEditBox.style.right = '-350px';
            }
        }

        var input = document.querySelector('.search-form');
        var search = document.querySelector('input')
        var button = document.querySelector('button');
        button.addEventListener('click', function(e) {
            e.preventDefault();
            input.classList.toggle('active');
        })
        search.addEventListener('focus', function() {
            input.classList.add('focus');
        })

        search.addEventListener('blur', function() {
            search.value.length != 0 ? input.classList.add('focus') : input.classList.remove('focus');
        })

    </script>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/projectManager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="Reiter">
        <button class="reiterBtn" onmouseover = "hover()" onmouseleave="hoverLeave()" id = "pjBtn" style = "border-bottom: 1px solid #ffffff;">Projekt Manager</button>
        <button class = "reiterBtn" id = "profilBtn">Profil </button>
        <button class = "reiterBtn" id = "boardBtn">Task-Board </button>
        <button class = "reiterBtn" id = "kalenderBtn">Kalender </button>
    </div>

    <div class="container">
        <div class="ansichtDropdown"> <!-- PK-->
            <button onClick= "ansichtDropdown()"id="ansichtBtn" class = "ansichtBtn"><i class="fa fa-level-down" style="margin-right: 8px;"></i> Ansicht</button>
            <div id="ansichtDropdownContent" class="ansichtdropdown-content">
                <a href="#">All</a>
                <a href="#">User Stories</a>
                <a href="#">Tasks</a>
                <a href="#">Schätzungstracker</a>
                <a href="#">Planning Poker</a>
            </div>
        </div>
        <div class = "filterDropdown">
            <button onClick = "filterDropdown()"id="filterBtn" class = "filterBtn"><i class="fa fa-filter" style="margin-right: 8px;"></i> Filter</button>
            <div id = "filterDropdownContent" class = filterdropdown-content>
                <a href="#">All</a>
                <a href="#">Due Date</a>
                <a href="#">Priority</a>
                <a href="#">Aufwand</a>
                <a href="#">Category?</a>
            </div>
        </div>
        <div class="suchleiste">
            <ul class="menu">
                <li><input type="search" placeholder="Search" id = "sucheInput"></li>
                <li><button type="button" class="searchBtn"><i class="fa fa-search" style="margin-right: 8px;"></i></button></li>
            </ul>
        </div>

        <div class = userStoryContainer>
            <ul>
                <li>
                    <div class = "userStoryText">
                        <label id = "userStoryTitel">Titel</label>
                        <label id = "userStoryBeschreibung">Beschreibung</label>
                    </div>

                <button class = "editBtn" onclick="toggleEditBox()"> <i class="fa fa-edit" style="margin-right: 8px;"></i></button>
                    <button type="button" id = "ausklappbarBtn" onClick="taskAusklappen()"> > </button>
                    <div id="taskContainer">
                        <div id="taskInhalt">
                            <button id = "neueTaskBtn">Neue Task <i class="fa fa-plus" ></i></button>
                            <label id="taskBeschreibung">Noch keine Tasks..</label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class = "toggleEdit">
            <div class="userStoryEditInput">
                <form class="form">
                    <label for="inputName" >Name</label>
                    <textarea id="inputName" class="inputEdit"></textarea>
                    <label for="inputDesc">Beschreibung</label>
                    <textarea id="inputDesc" class="inputEdit"></textarea>
                    <label for="inputPrio">Priorität</label>
                    <textarea id="inputPrio" class="inputEdit"></textarea>
                    <label >Priorität</label>
                    <input type="date" id="inputDate" class="inputBtn"></input>
                </form>
            </div>
            <button id="saveEdit">Speichern</button>
        </div>
    </div>


    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
