<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projektmanager-Tasks</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/projectManager.css">
    <link rel="stylesheet" href="css/setup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--
       Author: Zana Salih Hama
       Revisited: /
       Funktion: Reiter zur Übersicht aller Seiten[-optionen]
       Grund: Übersichtlichkeit
       User-ID/Task-ID: /
    -->
<div class="Reiter">
    <button class="reiterBtn" onmouseover = "hover('reiterBtn')" onmouseleave="hoverLeave('reiterBtn')" id = "pjBtn" style = "border-bottom: 1px solid #ffffff;">Projekt Manager</button>
    <button class = "reiterBtn" th:Sid="${sessionID}" onclick="SwitchToOwnProfile(this.getAttribute('Sid'))" >Profil </button>
    <button class = "reiterBtn" th:Sid="${sessionID}" onclick="SwitchToTaskBoard(this.getAttribute('Sid'))">Task-Board </button>
    <button class = "reiterBtn">Kalender </button>
</div>

<div id="outerProjectManagerContainer">
    <button class="selectBtn" th:Sid="${sessionID}" onclick="SwitchToUserStory(this.getAttribute('Sid'))" id="selectUserstory" onmouseover = "hover('selectUserstory')" onmouseleave="hoverLeave('selectUserstory')" title="Wechsel Ansicht zu Userstories">Userstories</button>
    <span class="userStoryTaskTrenner">|</span>
    <button class="selectBtn" id="selectTasks" onmouseover = "hover('selectTasks')" onmouseleave="hoverLeave('selectTasks')" title="Wechsel Ansicht zu Tasks" style= "border-bottom: 1px solid #ffffff">Tasks</button>
    <span class="userStoryTaskTrenner">|</span>
    <button class="selectBtn" id="selectUser" th:Sid="${sessionID}" onclick="SwitchToUsers(this.getAttribute('Sid'))" title = "Wechsel zur Nutzeransicht">Nutzer</button>
    <button class="addUserStoryBtn" title="Füge eine Task hinzu" style = "margin-left: 85%" onclick="toggleEditBoxT('addUserStoryBtn')"><i class="fa fa-plus" style="margin-right: 10px"></i>Task erstellen</button>
    <div id="innerProjectManagerContainer">
        <div class="wrapper">
            <table class="userTaskTable">
                <thead id="userTaskTableHead">
                <tr>
                    <th id = "tableHeader">Tasks</th>
                </tr>
                </thead>
                <tbody id="userTaskTableBody">
                <tr th:each="item : ${Tasks}">
                    <th>
                        <label class="userTaskTable-ContentStoryBoard" th:text="${item.getUserStory().getName()}" >Story</label>
                        <span class="userTaskTable-ContentStoryBoard">/</span>
                        <label class="userTaskTable-ContentStoryBoard" th:text="${item.getTaskBoardNameOfTask()}">Board</label>
                        <button class="Btn" title="Bearbeiten" style="margin-left: 90%" th:USID="${item.userStoryID}"  th:description="${item.description}" th:Tid="${item.ID}" th:dueDate="${item.getDueDateAsString()}" th:timeG="${item.getTimeNeededG()}" th:tbID="${item.getTbID()}" th:prio="${item.getPriorityAsInt()}"
                                onclick="toggleEditBoxT('editBtn', this.getAttribute('Tid'), this.getAttribute('description'), this.getAttribute('USID'), this.getAttribute('dueDate'), this.getAttribute('timeG'), this.getAttribute('tbID'), this.getAttribute('prio'));" ><i class="fa fa-edit"></i></button>
                        <span class="Btn" th:Tid="${item.ID}" th:Sid="${sessionID}" onclick="deleteT(this.getAttribute('Tid'),this.getAttribute('Sid'))" title="Löschen">&times;</span>
                        <!-- <label th:text = "${item.name}">Name</label> -->
                        <label>Rolle</label>
                        <label th:text = "${item.priority}">Priorität</label>
                        <hr>
                        <label  id = "pjDescription"style="display: inline-block;" th:text = "${item.description}">Beschreibung</label>
                        <label class = userTaskTableContentSubdate th:text="${item.getDueDateAsPresentable()}" >Abgabedatum</label>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--
           Author: Zana Salih Hama
           Revisited: /
           Funktion: Bearbeitungs-/Erstellungsfenster für User-Stories
           Grund: /
           User-ID/Task-ID: U3.F1, U4.F1, U5.F1, U5.F2
-->
<div class = "editMenu">
    <label style="color: white; border-bottom: 1px solid #ffffff; margin-bottom: 20px">Bearbeitungsmenü</label>
    <span id="closeToggleEdit" class="closeToggleEdit" onclick="toggleEditMenu()">&times;</span>
    <div class="editMenu-content">
        <form class="form" id="editForm" autocomplete="off" name="Story">
            <textarea id="inputDesc" class="inputEdit" required placeholder="Eine passende Beschreibung eingeben" name="description" form="editForm"></textarea>
            <label>Priorität</label>
            <button type="button" class="inputEditPrio" id="inputPrioUrgent" onclick="highlightPriorityButton('inputPrioUrgent')" style="background-color: #f76c5e" name="urgent" form="editForm">Urgent</button>
            <button type="button" class="inputEditPrio" id="inputPrioHigh" onclick="highlightPriorityButton('inputPrioHigh')" style="background-color: #f68e5f" name="high" form="editForm">High</button>
            <button type="button" class="inputEditPrio" id="inputPrioNormal" onclick="highlightPriorityButton('inputPrioNormal')" style="background-color: #f5dd90" name="normal" form="editForm">Normal</button>
            <button type="button" class="inputEditPrio" id="inputPrioLow" onclick="highlightPriorityButton('inputPrioLow')" style="background-color: #9EC5E5" name="low" form="editForm">Low</button>

            <div id="list1" class="dropdown-check-list">
                <button class="anchor">Nutzer zuweisen</button>
                <ul class="items">
                    <li><input type="checkbox" />Nutzer 1 </li>
                </ul>
            </div>

            <label style="margin-top: 15px">Abgabefrist</label>
            <input type="datetime-local" id="inputDate" class="inputEdit" placeholder="Abgabefrist">
            <label style="margin-top: 15px">Geschätzte Zeit in Stunden</label>
            <input type = "number" min="0" max="1000" step="0.5" id = "inputTimeNeeded" class="inputEdit" placeholder="Geschätzte Zeit">
            <input type="hidden" id = "editId" name="id" value="-1">
            <input type="hidden" id = "editPrio" name="priority" value="1">
            <label style="margin-top: 15px">Task zu einer User-Story zuweisen</label>
            <select class="dropdownTask" id="USDropdown">
                <option id="USDropDown:-1" value="-1" selected = "selected">Wähle zugehörige User-Story</option>
                <option th:each="US : ${UserStory}" th:id="@{USDropdown:{id}(id=${US.getID()})}" th:value="${US.getID()}" th:text="${US.getName()}"></option>
            </select>
            <label>Task zu einem Task-Board zuweisen</label>
            <select class="dropdownTask" id="TBDropdown">
                <option id="TBDropDown:-1" value="-1" selected = "selected">Wähle zugehöriges Task-Board</option>
                <option th:each="TB : ${TaskBoard}" th:id="@{TBDropdown:{id}(id=${TB.getID()})}" th:value="${TB.getID()}" th:text="${TB.getName()}"></option>
            </select>


            <button type="button" th:sessionID="${sessionID}" onclick="saveTask(this,this.getAttribute('sessionID'))" id="editMenu-saveEditBtn">Speichern</button>
        </form>
    </div>
</div>


<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.js"></script>
<script src="js/app.js"></script>
<script src="js/communication.js"></script>
<script type = "text/javascript" src="js/setup.js"></script>
<script type = "text/javascript" src="js/projectManager.js"></script>
</body>
</html>