<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projektmanager</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="projectManager.css">
  <link rel="stylesheet" href="setup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--
       Author: Zana Salih Hama
       Revisited: /
       Funktion: Reiter zur Übersicht aller Seiten[-optionen]
       Grund: Übersichtlichkeit
       User-ID/Task-ID: /
    -->
<div class="Reiter">
  <button class="reiterBtn" onmouseover = "hover('reiterBtn')" onmouseleave="hoverLeave('reiterBtn')" id = "pjBtn" style = "border-bottom: 1px solid #ffffff;">Projekt Manager</button>
  <button type="button"  th:Sid="${SessionId}" onclick="SwitchToOwnProfile(this.getAttribute('Sid'))" class = "reiterBtn">Profil </button>
  <button class = "reiterBtn">Task-Board </button>
  <button class = "reiterBtn">Kalender </button>
</div>

<div id="outerProjectManagerContainer">
  <button class="selectBtn" id="selectUserstory" th:Sid="${SessionId}" onclick="SwitchToUserStory(this.getAttribute('Sid'))" onmouseover = "hover('selectUserstory')" onmouseleave="hoverLeave('selectUserstory')" title="Wechsel Ansicht zu Userstories">Userstories</button>
  <span class="userStoryTaskTrenner">|</span>
  <button class="selectBtn" id="selectTasks" th:Sid="${SessionId}" onclick="SwitchToTasks(this.getAttribute('Sid'))" onmouseover = "hover('selectTasks')" onmouseleave="hoverLeave('selectTasks')" title="Wechsel Ansicht zu Tasks">Tasks</button>
  <span class="userStoryTaskTrenner">|</span>
  <button class="selectBtn" id="selectUser" style= "border-bottom: 1px solid #ffffff" title = "Wechsel zur Nutzeransicht">Nutzer</button>

  <div id = "roleBtn" >
  <button class="addUserStoryBtn" title="Ändere die Rechte der Nutzer" onclick="toggleEditBox('addUserStoryBtn', -1)" ><i class="fa fa-lock" style = "margin-right: 5px"></i>Nutzerrechte ändern</button>
  <button class="addUserStoryBtn" title="Erstelle und bearbeite die Rollen" onclick="toggleEditBox('addUserStoryBtn', -1)"  style="margin-top:25px"><i class="fa fa-user-o" style = "margin-right: 5px"></i>Rollen bearbeiten</button>
  </div>
    <div id="innerProjectManagerContainer">
    <div class="wrapper">
      <table class="userTaskTable">
        <thead id="userTaskTableHead">
        <tr>
          <th id = "tableHeader">Nutzer</th>
        </tr>
        </thead>
        <tbody id="userTaskTableBody">
        <tr th:each="user : ${User}" th:USid="${user.ID}" th:Sid="${SessionId}"  ondblclick="SwitchToUserProfile(this.getAttribute('Sid'), this.getAttribute('USid'))">
          <th>
            <div id = userTextDiv>
            <label class = "userText">Nutzername</label>
            <label class = "userText" style = "margin-left: 85%">rechtliche Rolle</label>
            </div>
          </th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
