
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
<body>
  <div class="loginBackground">
    <div class="container">
    <form action="/Register" autocomplete="off" method="post">
      <label id="registerLabel">Register</label>
        <input type="text" placeholder="Account-Name" id="nameInput" name="Username">
        <input type="text" placeholder="Passwort" id="passwortInput" name="Passwort">
        <input type="text" placeholder="Email" id="emailInput" name="EMail">
        <button id="loginButton" type="submit">Login</button>
        <p id = "noAccount"> Doch Bitches?
          <a href="/">Hier anmelden! (/ω＼*)……… (/ω•＼*)</a></p>
      </form>
    </div>
</div>
  
</body>

    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/what-input.js"></script>
    <script src="../static/js/vendor/foundation.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
