<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
  </head>

  <!--
  Author: Pair Programming: Zana Salih Hama, Paula Krasnovska
  Revisited: /
  Funktion: Register Page
  Grund: /
  User-ID/Task-ID: A2.F1
-->
<body>
  <div class="loginBackground">
    <div class="container">
    <form action="/Register" autocomplete="off" method="post">
      <label id="registerLabel"></label>
        <input type="text" required placeholder="Account-Name" id="nameInput" name="Username">
        <input type="text" required placeholder="Email" id="emailInput" name="EMail">
        <input type="text" required placeholder="Passwort" id="passwortInput" name="Passwort">
        <button id="loginButton" type="submit">Registrieren</button>
        <p id = "yesAccount"> Du besitzt doch einen Account?
          <a href="/">Hier anmelden!</a></p>
      </form>
    </div>
</div>
  
</body>

    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/what-input.js"></script>
    <script src="../static/js/vendor/foundation.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
