<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Task Board</title>
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/taskBoard.css">
        <link rel="stylesheet" href="css/setup.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <!--
           Author: Zana Salih Hama
           Revisited: /
           Funktion: Reiter zur Übersicht aller Seiten[-optionen]
           Grund: Übersichtlichkeit
           User-ID/Task-ID: /
        -->
    <div class="Reiter">
        <button class="reiterBtn" th:Sid="${sessionID}" onclick="SwitchToUserStory(this.getAttribute('Sid'))" >Projekt Manager</button>
        <button class = "reiterBtn" th:Sid="${sessionID}" onclick="SwitchToOwnProfile(this.getAttribute('Sid'))" >Profil </button>
        <button class = "reiterBtn" onmouseover = "hover()" onmouseleave="hoverLeave()" id = "pjBtn" style = "border-bottom: 1px solid #ffffff;">Task-Board </button>
        <button class = "reiterBtn">Kalender </button>
    </div>

    <div id="outerContainer-Header">
        <button style="position: relative; margin-right: 5px;" th:each="Taskboard : ${TaskBoards}" th:sID="${sessionID}" th:id="@{Button{tb}(tb=${Taskboard.getID()})}" class="outerContainer-HeaderBtn" th:tbID="${Taskboard.getID()}" ondblclick="SwitchToTaskBoardByID(this.getAttribute('sID'), this.getAttribute('tbID'))">
            <span th:id="@{Name{tb}(tb=${Taskboard.getID()})}" th:text="${Taskboard.getName()}">  </span>
            <span th:if="${authority == 2 || authority == 4}" th:sID="${sessionID}" th:tbID="${Taskboard.getID()}" class='delete-btn' onclick="deleteTaskBoard(this, this.getAttribute('sID'), this.getAttribute('tbID'))">×</span></button>
        <button type="button" th:if="${authority == 2 || authority == 4}" th:sID="${sessionID}" id="outerContainer-HeaderBtnAdd" onclick="createTBNamePopUp()"><b>+</b></button>
        <button type="button" th:if="${authority == 2 || authority == 4}" id = "outerContainer-HeaderChangeTBName" onclick="changeTBNamePopUp()">change Name <i class = "fa fa-pencil"></i></button>

        <div id="outerContainer">
            <div th:each="TaskList : ${Board.getTaskListList()}" th:id="${TaskList.getID()}" class="innerContainer" style="margin-left: 10px">
                <table class="columnTable">
                    <thead class="columnTableHead">
                    <tr>
                        <th th:text="${TaskList.getName()}">Todo</th>
                    </tr>
                    </thead>
                    <tbody class="columnTableBody">
                    <tr th:each="task : ${TaskList.getTasks()}" th:id="${task.getID()}" draggable="true" ondblclick="toggleZoomedTaskCard()">
                        <td th:style = "${(task.getPriorityAsInt() == 1) ? 'background-color: #9EC5E5' : (task.getPriorityAsInt() == 2) ? 'background-color: #f5dd90' : (task.getPriorityAsInt() == 3) ? 'background-color: #f68e5f' : (task.getPriorityAsInt() == 4) ? 'background-color: #f76c5e' : 'background-color: rgba(255, 255, 255, 0.66)'}">
                            <label class="tableContentLabel" id="tableContent-UsId" th:text="${task.getUserStory().getName()}">US-ID</label>
                            <label class="tableContentLabel" id="tableContent-Beschreibung" th:text="${task.getDescription()}">XDD</label>
                            <label class="tableContentLabel" id="tableContent-LeftTime" th:text="${task.getDueDateAsPresentable()}" >Left Time</label>
                            <label class="tableContentLabel" id="tableContent-Role">Rolle</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div id="zoomedTaskCard">
        <label class="zoomedTaskCard-content" id="zoomedTaskCard-US">US</label>
        <span class="zoomedTaskCard-content" id="zoomedTaskCard-seperator">/</span>
        <label class="zoomedTaskCard-content" id="zoomedTaskCard-taskBoard">Task-Board</label>
        <label class="zoomedTaskCard-content" id="zoomedTaskCard-description">Lacinia nascetur pellentesque euismod mus est nibh conubia. Parturient dignissim habitant mauris convallis interdum. Malesuada litora nulla semper sollicitudin urna etiam sapien tempor varius platea. Dictum egestas et quis commodo conubia ut parturient netus. Amet feugiat velitLacinia nascetur pellentesque euismod mus est nibh conubia. Parturient dignissim habitant mauris convallis interdum. Malesuada litora nulla semper sollicitudin urna etiam sapien tempor varius platea. Dictum egestas et quis commodo conubia ut parturient netus. Amet feugiat velit</label>
        <label class="zoomedTaskCard-content" id="zoomedTaskCard-estimatedTime"><i class="fa fa-clock-o" style="margin-right: 5px; margin-top: 5px"></i>Geschätzte Zeit</label>
        <label class="zoomedTaskCard-content" id="zoomedTaskCard-priority">Priorität</label>
        <br>
        <label class="zoomedTaskCard-content" id="zoomedTaskCard-workedTime">Bearbeitungszeit</label>
        <label class="zoomedTaskCard-content" id="zoomedTaskCard-role"><i class="fa fa-briefcase" style="margin-right: 5px; margin-top: 5px"></i>Rolle</label>
        <label class="zoomedTaskCard-content" id="zoomedTaskCard-deadline">Abgabefrist</label>
    </div>


    <div th:if="${authority == 2 || authority == 4}" id="popupChangeTBName">
        <form id = changeTBNameForm>
        <label style = "color: #d1d1d1" > Ändere den Namen des Task-Boards <i class = "fa fa-pencil" style="margin-right:10px;"></i></label>
        <input form = "changeTBNameForm" id = "changeTBNameInput" th:value="${Board.getName()}">
        <button type="button" th:tbID="${Board.getID()}" th:sID="${sessionID}" id = "changeTBNameBtn" onclick="changeTBName(this.getAttribute('sID'), this.getAttribute('tbID'))" >Ändern</button>
        </form>
    </div>

    <div th:if="${authority == 2 || authority == 4}" id="popupCreateTB">
        <form id = createTBForm>
            <label style = "color: #d1d1d1" > Name des Taskboards </label>
            <input form = "changeTBNameForm" id = "createTBNameInput">
            <button type="button" th:sID="${sessionID}" id = "createTBNameBtn" onclick="addTaskBoard(this.getAttribute('sID'))" >Ändern</button>
        </form>
    </div>


    <div th:if="${authority == 2 || authority == 4}" id = popupTaskFertig>
        <form id = taskFertigForm>
            <label style = "color: #d1d1d1" > Gebe die Bearbeitungszeit der Task an <i class = "fa fa-clock-o" style="margin-right:10px"></i></label>
            <input form = "taskFertigForm" id = "taskFertigInput">
            <button type="button" th:sID="${sessionID}"  id = "taskFertigBtn" onclick="" >Ändern</button>
        </form>
    </div>

<input type="hidden" id="sessionID" th:value="${sessionID}">
        <script src="js/vendor/jquery.js"></script>
        <script src="js/vendor/what-input.js"></script>
        <script src="js/vendor/foundation.js"></script>
        <script src="js/app.js"></script>
        <script src="js/communication.js"></script>
        <script type = "text/javascript" src="js/setup.js"></script>
        <script type = "text/javascript" src="js/taskBoard.js"></script>
    </body>
</html>
