<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projektmanager</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/projectManager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <div class="Reiter">
            
    </div>
    <div class="container">
        <button id="allTasks"><i class="fa fa-home"></i>Alle Tasks</button>
        <button id="filter"><i class="fa fa-filter"></i>Filter</button>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
</body>
</html>